<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'posts' %>
  </head>

  <header class="y_header">
    <div class="y_header_bar">
        <div class="input">
            <input class="tbox" type="text" name="name" size="30" maxlength="30" placeholder="ユーザーやハッシュタグを探す">
        </div>
        <div class="post">
            <i class="far fa-plus-square fa-3x" data-toggle="modal" data-target="#modal1"></i>
        </div>
        <div class="bell">
            <i class="fas fa-bell fa-3x"></i>
        </div>
        <div class="icon">
            <img src="/assets/icon.png" alt="">
        </div>
        <h1 class="logo">
          <a>Infha</a>
        </h1>
    </div>
  </header>

  <article class="main">
    <div class="switch_type">
        <nav>
            <ul>
                <li class="all"><a href=#>ALL</a></li>
                <li class="Instagrammer"><a href=#>Instagrammer</a></li>
                <li class="YouTuber"><a href=#>YouTuber</a></li>
                <li class="LineLiver"><a href=#>LineLiver</a></li>
                <li class="TikToker"><a href=#>TikToker</a></li>
            </ul>
        </nav>
    </div>
  </article>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar">
                <div class="sidebar_content">
                    <nav>
                        <ul>
                            <li class="home"><i class="fas fa-home fa-lg"></i><a href=#> ホーム</a></li>
                            <li class="like"><i class="far fa-heart fa-lg"></i><a href=#> いいね</a></li>
                            <li class="hash_tag"><i class="fas fa-hashtag fa-lg"></i><a href=#> ハッシュタグ</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="sidebar_content">
                    <p>ランキング</p>
                    <nav>
                        <ul>
                            <li class="s_ranking"><i class="fas fa-crown fa-lg"></i><a href=#> 人気</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> YouTuber</a></li>
                            <li class="s_instagrammer"><i class="fab fa-instagram fa-lg"></i><a href=#> Instagrammer</a></li>
                            <li class="s_line_liver"><i class="fab fa-instagram fa-lg"></i><a href=#> LineLiver</a></li>
                            <li class="s_tiktoker"><i class="fab fa-instagram fa-lg"></i><a href=#> TikToker</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="sidebar_content">
                    <p>フォロワー</p>
                    <nav>
                        <ul>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                            <li class="s_youtuber"><i class="fab fa-youtube fa-lg"></i><a href=#> ちび</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-10">
                <div class="content_container">
                    <div class="content">
                        <div class="row">
                            <% @posts.each do |post| %>
                                <div class="col-4"> 
                                    <div class="card">
                                        <div class="img-form">
                                            <img src=<%= post.images[0] %> alt="">
                                        </div>
                                        <div class="text-form">
                                            <a class="img"><img src=<%= post&.user&.image_url %>></a>
                                            <a class="text"><%= post&.user&.youtuber_name %></a>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- モーダルダイアログ -->
  <div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">投稿</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&#215;</span>
          </button>
        </div><!-- /modal-header -->
        <%= form_tag("/posts", method: "posts") do %>
            <div class="modal-body">
                <p>本文</p>
                <textarea class="recipient" rows="4" cols="48" placeholder = "入力してください"></textarea>
            </div>
            <div class="modal-footer">
                <p type="text">画像を選択</p>
                <input type="file" name="example" accept="image/jpeg, image/png">
                <button type="submit" class="btn btn-default">投稿する</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        <% end %>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

</html>